
@{
    
}

<div class="row" id="UnauthAction">
    <div class="col-md-12">
        <div class="text-center error-pages">
            <h1 class="error-title text-danger"> 403</h1>
            <h2 class="error-sub-title text-dark">Unauthorized Access Denied</h2>
            <p class="error-message text-dark text-uppercase">You don't have permission to access on this action</p>
            <hr class="w-50">
        </div>
    </div>
</div>