<div class="row mt35 mgbody mt5 div-filter bordered-section clrwhite" style="margin: 0px 15px;">
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn" style="color: #3A97D0;margin-top:15px;border-radius: 15px;background-color: #fff;border: 1px solid #3A97D0;cursor: pointer;" onclick="clear_filter();">Clear</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 main-filter-list"></div>
    </div>
</div>